# Python Types Assignment 2020

Name/RedID:

## Part One

For the problems in Part One, assume all the definitions in the next cell, and check your answers by evaluating the next cell and verifying that your answers give the required results.

In [5]:
friends_network = {'susan': {'alex': 8, 'louis': 5, 'plato': 1, 'giuseppe':3},
                   'alex': {'louis': 5, 'susan': 3, 'giuseppe':3},
                   'louis': {'alex': 4, 'plato': 4, },
                   'plato': { 'louis': 8,  'giuseppe':2, 'susan': 2},
                   'giuseppe' : {}
                  }
language_decade_pairs = [ ('50s', 'fortran'), ('60s', 'pascal'), ('70s', 'C'),  ('80s', 'C++'),
                          ('90s', 'java'), ('00s', 'perl'), ('10s', 'python')]
dominant_computer_languages = dict(language_decade_pairs)
awards = ('grammy', 'emmy', 'pulitzer','hugo','baseball_mvp','edgar', 'nobel_prize','oscar')
secret_word = "White House"
personnel_files = [{'name':'Fred Flinstone',
                     'spouse': 'Wilma',
                      'town of residence': 'Bedrock'},
                    {'name':'Barney Rubble',
                     'spouse': 'Betty',
                      'town of residence': 'Bedrock'},
                  ]

In the problems below,  when you are asked to write an expression that "accesses". a particular name, that means your answer should **use** that name.  For if asked:


   Write an expression that accesses `awards` and return the value `'baseball_mvp'`.


You might answer:

```
awards[4]
```

because that is an expression that uses the name `awards` and returns the value
`"baseball_mvp"`, as illustrated in the next cell.

In [6]:
awards[4]

'baseball_mvp'

In the next cell, write expression that accesses `awards` and returns the value `"pulitzer"`.

In [8]:
awards[2]

'pulitzer'

This expression returns "pulitzer"

In the next cell, write an expression that accesses `secret_words` and returns the value `"H"
`.

In [22]:
secret_word[6]

'H'

secret_words is string and 'H' is a value with index 6

In the next cell, write an expression that accesses `awards` and produces an `IndexError`.  Try to make the index you use to access `awards` as small as possible.

In [21]:
awards[8]

IndexError: ignored

In the next cell, write an expression that accesses `awards` and returns `"oscar"`.  There is more than one answer.  See if you can find two.

In [20]:
# indext number [-1] and [7] in awards represent same value
awards[-1]
awards[7]

'oscar'

 In the next cell, write an expression that accesses `awards` and returns `"s"`.

In [19]:
awards[4][2]

's'

In awards "s" is in 'baseball_mvp' with index 4

Explain what happens  when the following expression is evaluated.  Edit it to be an expression that returns `"n"`.

In [18]:
# Corrected Expression
awards[6][0]

'n'

Reason: Tuple idexes are always numerical and since award is tuple, we can not write "n" (a string in index ). Hence we need to write an index number of 'n' to get 'n' as output.

In the next cell, write an expression that accesses `awards[2]` and returns `True`.

In [17]:
'pul' in awards[2]

True

Since 'pul' in 'pulitzer' awards[2] it returns true.

In the next cell, write an expression that accesses `language_decade_pairs` and raises
a `TypeError`.

In [16]:
language_decade_pairs[0]['50s']

TypeError: ignored

As expained above language_decade_pairs is a list and have numerical index values. Hence ['50s'] gives the TypeError

In the next cell, write an expression that accesses `friends_network` and returns `8`.

In [15]:
friends_network['susan']['alex']

8

For Dictionaries we need write the key in [ ] in order to get the value

In the next cell, write an expression that accesses `friends_network` and returns `4`.

In [14]:
friends_network['louis']['alex']

4

In the next cell, write an expression that accesses `personnel_files` and returns `Barney Rubble`.

In [10]:
personnel_files[1]['name']

'Barney Rubble'

personnel_files is list containing some dictionaries in it. Hence in first [ ]  should be numerical

In the next cell, write an expression that accesses `personnel_files` and returns `"roc"`.

In [13]:
personnel_files[0]['town of residence'][3:6]

'roc'

Can you write an expression that sets the first element of `awards` to be `"national_book_award"`.  If not, why not?

You may use the next cell to illustrate your answer.

In [11]:
# Alternative expession for changing first element of awards to "national_book_award"
award_list = list(awards)
award_list[0] = "national_book_award"
awards_tuple = tuple(award_list)
print(awards_tuple)

('national_book_award', 'emmy', 'pulitzer', 'hugo', 'baseball_mvp', 'edgar', 'nobel_prize', 'oscar')

Sol: No we can not directly rewrite the 1st element of awards, since the awards is tuple and the tuples unchangeable, or immutable. If we want to make some changes in tuple, we can convert the tuple into list, make changes and convert back to tuple.

In the next cell, write an expression that accesses `awards[-2]` and returns `True`.

In [12]:
len(awards[-2]) == 11

True

Length of awards[-2] is 11, hence returns True

In the next cell, write an expression that accesses `friends_n etwork` and returns 
a dictionary with three keys.

In [24]:
friends_network['alex']

{'giuseppe': 3, 'louis': 5, 'susan': 3}

Also written an alternative expression to return all the dictionaries with 3 keys

In [25]:
# Bellow expression returns dictionaries with 3 keys
for key in friends_network:
    if len(friends_network[key]) == 3:
        print(key)
        print(friends_network[key])

alex
{'louis': 5, 'susan': 3, 'giuseppe': 3}
plato
{'louis': 8, 'giuseppe': 2, 'susan': 2}

##       Part Two

Write down expressions to retrieve the given values from the given variables.

1) `'mm'` from `awards`

In [26]:
awards[0][3:5]

'mm'

2) `'yth'` from `dominant_computer_languages`

In [27]:
dominant_computer_languages['10s'][1:4]

'yth'

3) `'yth'` from `language_decade_pairs`

In [28]:
language_decade_pairs[-1][1][1:4]

'yth'

4) `'mvp'` from `awards`

In [29]:
awards[4][9:12]

'mvp'

5) `'edr'` from `personnel_files`

In [30]:
personnel_files[0]['town of residence'][1:4]

'edr'